.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__right > h4 {
    margin-left: 10px;
  }